.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 450px;
  background-color: rgba(94, 98, 101, 0.9);
  color: white;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-image: linear-gradient(#249a97, rgb(94, 98, 101)) 80;
  border-width: 10px;
  border-style: solid;
  background-image: url("https://cdn.vectorstock.com/i/preview-1x/48/76/grey-background-of-cement-texture-flooring-3d-vector-41404876.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  display: flex;
}
.card_inside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#content {
  padding-right: 20px;
  padding-left: 20px;
}
#author {
  text-transform: uppercase;
  font-weight: 200;
}
.open-quote,
.close-quote {
  display: block;
  font-size: 100px;
  color: #249a97;
  height: 40px;
  width: 100%;
}
.open-quote {
  display: flex;
  text-align: start;
  margin-bottom: 20px;
}
.close-quote {
  display: flex;
  justify-content: end;
}
